<!--Hero-->
<section class="relative overflow-hidden ">
    <div class="relative h-[600px] md:h-[700px]">
        <img src="../img/logo/homepage.jpg" alt="Fresh Groceries Banner"
            class="absolute inset-0 w-90% h-auto object-cover mx-auto mt-20 rounded-lg" />
        <div class="absolute inset-0 flex flex-col items-center justify-center text-center px-4">
            <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-white mb-4">
                Fresh & Healthy Groceries
            </h1>
            <p class="text-lg md:text-xl text-white mb-8">
                Get the best quality products delivered to your doorstep. New arrivals every week!
            </p>
            <div>
                <a href="#"
                    class="bg-green-600 hover:bg-green-700 text-white font-semibold py-3 px-6 rounded-full transition">%20
                    Off New Arrivals</a>
                <a href="#"
                    class="bg-green-600 hover:bg-green-700 text-white font-semibold py-3 px-6 rounded-full transition">free
                    Delivery over $50</a>
            </div>
        </div>
    </div>
</section>

<!-- Shop by Categories -->
  <section class="py-16 bg-white" >
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between mb-8">
        <h2 class="text-2xl font-bold text-gray-800">Shop by Categories</h2>
        <div class="flex space-x-2">
          <button class="w-3 h-3 bg-green-500 rounded-full"></button>
          <button class="w-3 h-3 bg-gray-300 rounded-full"></button>
          <button class="w-3 h-3 bg-gray-300 rounded-full"></button>
        </div>
      </div>
      <div class="flex flex-row gap-3 justify-between space-x-4 overflow-auto">
       <!--Meats-->
        <div id="meat" class="bg-white hover:bg-green-400 text-dark font-semibold py-3 px-6 rounded-lg w-45% h-45% p-4 text-center cursor-pointer border border-gray-300">
          <img src="../img/cate_image/bysrob.jpg" alt="Meats" class="w-30% h-30% object-cover rounded-full mb-3 mx-auto">
          <h3 class=" p-2 text-2xl font-semibold text-gray-800">Meats</h3>
        </div>
        <!--Veget-->
        <div id="veget" class="bg-white hover:bg-green-400 text-dark font-semibold py-3 px-6 rounded-lg w-45% h-45%  p-4 text-center cursor-pointer border border-gray-300">
          <img src="../img/cate_image/bonlea.png" alt="Vegetables" class="w-30% h-30% object-cover rounded-full mb-3 mx-auto">
          <h3 class=" text-sm font-semibold text-gray-800">Vegetables</h3>
        </div>
        <!--Fish-->
        <div  id="fish" class="bg-white hover:bg-green-400 text-dark font-semibold py-3 px-6 rounded-lg w-45% h-45%  p-4 text-center cursor-pointer border border-gray-300">
          <img src="../img/cate_image/fish-cate.jpg" alt="Fish" class="w-30% h-30% object-cover rounded-full mb-3 mx-auto">
          <h3 class="text-sm font-semibold text-gray-800">Fish</h3>
        </div>
        <!--Snack-->
        <div id="snack" class="bg-white hover:bg-green-400 text-dark font-semibold py-3 px-6 rounded-lg w-45% h-45%  p-4 text-center cursor-pointer border border-gray-300">
          <img src="../img/cate_image/snacks.jpg" alt="Snacks" class="w-30% h-30% object-cover rounded-full mb-3 mx-auto">
          <h3 class="text-sm font-semibold text-gray-800">Snacks</h3>
        </div>
        <!--Seaoning-->
        <div id="seasoning" class="bg-white hover:bg-green-400 text-dark font-semibold py-3 px-6 rounded-lg w-45% h-45%  p-4 text-center cursor-pointer border border-gray-300">
          <img src="../img/cate_image/seasoning-1.jpg" alt="Spices" class="w-30% h-30% object-cover rounded-full mb-3 mx-auto">
          <h3 class="text-sm font-semibold text-gray-800">Seasoning</h3>
        </div>
      </div>
    </div>
  </section>


  <!--Recomment For You-->
    <section class="py-16 bg-white" >
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between mb-8">
        <h2 class="text-2xl font-bold text-gray-800">Recomment For You</h2>
      </div>
    </div>
    </section>

</section>