

<!--Hero--> 
<section class="relative overflow-hidden ">
    <div class="relative h-[600px] md:h-[700px]">
        <img src="../img/logo/homepage.jpg" alt="homepage_image"  class="absolute inset-0 w-90% h-auto object-cover mx-auto mt-20 rounded-lg"/>
        <div class="absolute inset-0 flex flex-col items-center justify-center text-center px-4">
            <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-white mb-4">
                Fresh & Healthy Groceries
            </h1>
            <p class="text-lg md:text-xl text-white mb-8">
                Get the best quality products delivered to your doorstep. New arrivals every week!
            </p>
            <div>
            <a href="#" class="bg-green-600 hover:bg-green-700 text-white font-semibold py-3 px-6 rounded-full transition">%20 Off New Arrivals</a>
            <a href="#" class="bg-green-600 hover:bg-green-700 text-white font-semibold py-3 px-6 rounded-full transition">free Delivery over $50</a>
            </div>    
        </div>
    </div>
</section>

<!--Shop By Categories -->




<section class=" py-16 bg-white">

</section>